*{
  margin: 0px;
  padding: 0px;

}
body{
  background: #0f1b21;
}
.container{
text-align: center;

}
.title{
  margin-top: 50px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title span{
  padding-left: 15px;
  color: palevioletred;
}
.reset{
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  color: aqua;
  font-size: 22px;
  margin-top: 25px;
  /* margin-bottom: 50px; */
  /* side */
 margin-right: 100px;
  
}
.boxes{
  display: flex;
  height: 130px;
  width: 130px;
  background: gray;
  border: 4px solid darkslategray;
  cursor: pointer;
}
.board{
  height: 400px;
  width: 550px;
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-top: 50px;
  align-items: center;
}
.boxes img{
  margin: auto;
  min-width: auto;
}
.title img{
  padding: 20px 20px;
  height: 50px;

}